<div
  class="tw:text-center tw:font-semibold tw:p-[16px_20px]"
  style="
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
  "
>
  {{ section.settings.announcement_text }}
</div>

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type": "text",
        "id": "announcement_text",
        "label": "Announcement Text",
        "default": "Welcome to our store"
      }, {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#000000"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#FFFFFF"
      }
    ],
    "presets": [
      {
        "name": "Announcement Bar",
        "category": "Header"
      }
    ]
  }
{% endschema %}