{% assign featured_collection = collections[section.settings.collection] %}

{% if section.settings.collection != blank and featured_collection %}
  {% if featured_collection.products_count > 0 %}
    <section class="tw:my-[2rem] tw:p-[2rem_1rem] tw:bg-[#fafafa] tw:rounded-[8px]">
      <div class="container tw:mx-auto">
        <h2 class="tw:text-[2rem] tw:mb-[1.5rem] tw:text-left tw:font-bold">
          {{ section.settings.section_title | default: featured_collection.title }}
        </h2>

        <div class="tw:grid tw:grid-cols-3 tw:gap-[20px]">
          {% for product in featured_collection.products limit: section.settings.products_to_show %}
            {% render 'product-card', product: product %}
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
{% else %}
  <p class="tw:p-10 tw:text-center tw:text-gray-500">No collection selected or collection is empty.</p>
{% endif %}

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section title"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }, {
        "type": "number",
        "id": "products_to_show",
        "label": "Number of products to show",
        "default": 4
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "General"
      }
    ]
  }
{% endschema %}