{% layout 'theme' %}

<div class="container tw:mx-auto">
  <main class="tw:min-h-[60vh] tw:py-[40px]">
    <div class="tw:max-w-full">
      <header class="tw:mb-8">
        <h1 class="tw:text-[2.5rem] tw:font-bold tw:leading-tight">
          {{ page.title }}
        </h1>
      </header>

      <div class="tw:text-[1rem] tw:leading-relaxed tw:text-[#333]">
        {{ page.content }}
      </div>
    </div>
  </main>
</div>

{%  schema  %}
  {
    "name": "Main Page",
    "tag": "section",
    "settings": [],
    "presets": [
      {
        "name": "Main Page"
      }
    ]
  }
{% endschema %}
